ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin-inline: auto;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;

  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

li {
  padding: 14px 18px;
  margin-bottom: 12px;
  border-radius: 12px;

  background: linear-gradient(135deg, #e6f7f0, #d1fae5);

  border: 1px solid rgba(46, 163, 114, 0.35);

  display: flex;
  flex-direction: column;
  gap: 6px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background 0.2s ease;
}

li:nth-child(even) {
  --g1: #8fd9bc;
  --g2: #a5ecca;
}

li:hover {
  --g1: #8fd9bc;
  --g2: #a5ecca;

  border-color: #2ea372;
}

li span.name {
  font-weight: 600;
  font-size: 1rem;
}

li span.preis {
  font-weight: 500;
}

li span.beschreibung {
  font-size: 0.9rem;
}

.quantity-controller {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.quantity-controller button {
  width: 32px;
  height: 32px;
  border: 1px solid #2ea372;
  background-color: #e0e7ff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.quantity-controller button:hover {
  background-color: #c7d2fe;
}
